<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Servicios</title>
</head>

<body>

    <div>

        <div class="container mt-5">

            <h2>Consumos para agregar</h2>

            <div class="container my-4">
                <div class="row">
                    <div class="col col-auto">
                        <a th:href="@{/roomsReservations}" class="btn btn-secondary">Volver atras</a>
                    </div>

                    <table class="table mt-3">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Costo</th>
                                <th>Fecha de consumo</th>
                                <!-- <th>Tipo</th> -->
                                <th></th>
                            </tr>
                        </thead>
                        <tr th:each="consumption : ${consumptions}">
                            <td th:text="${consumption.getId()}"></td>
                            <td th:text="${consumption.getCost()}"></td>
                            <td th:text="${consumption.getDate()}"></td>
                            <!-- <td th:text="${product.getType()}"></td> -->
                            <td>
                            <form action="#" th:action="@{'/roomsReservations/' + ${id} + '/edit/save/' + ${consumption.id}}" method="post">

                                    <input type="submit" value="Agregar" class="btn btn-primary" />
                                </form>
                            </td>
                                    </tr>

                    </table>

                </div>
            </div>


        </div>

    </div>
</body>

</html>