<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Rooms Reservations</title>
</head>

<body>

    <div>

        <div class="container mt-5">

            <h2>Crear nueva reserva de habitación</h2>

            <div class="container my-4">
                <div class="row">
                    <div class="col col-auto">
                        <a th:href="@{/roomsReservations}" class="btn btn-secondary">Volver atras</a>
                    </div>
                    <div class="col">
                        <form action="#" th:action="@{/roomsReservations/new/save}" method="post">
                        <div th:replace="~{fragments/RoomsReservationsForm}"></div>
                    </form>
                    </div>
                    
                </div>
            </div>


        </div>

    </div>
</body>

</html>