<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Indice de Ocupación Habitacion en el último año</title>
</head>

<body>

    <div>
        <div class="container mt-5 container-fluid">


            <div class="container mb-4 container-fluid">
                <div class="row">

                    <div class="col">
                        <h3>Indices de ocupación en el último año</h3>
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Habitacion</th>
                                    <th>Ocupación</th>
                                </tr>
                            </thead>


                            <th:block th:each="room: ${roomsOcupation}">
                                <tr>
                                    <td th:text="${room.getRoom()}"></td>
                                    <td th:text="${room.getOccupancyRate() + '%'}"></td>

                                </tr>

                            </th:block>

                        </table>
                    </div>


                </div>
            </div>


            <a th:href="@{/roomsReservations}" class="btn btn-primary"> Volver Atrás</a>

        </div>

    </div>

</body>

</html>