<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Tipos de Habitaciones</title>
</head>
<body>

    <div>
    <div class="container mt-5">
        <h2>Tipos de Habitaciones</h2>
        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Capacidad</th>
                    <th>Precio por Noche</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <th:block th:each="roomType : ${roomsTypes}">
                <tr>
                    <td th:text="${roomType.id}"></td>
                    <td th:text="${roomType.name}"></td>
                    <td th:text="${roomType.capacity}"></td>
                    <td th:text="${roomType.priceNight}"></td>
                    <td>
                        <a th:href="@{/room_types/{id}/edit(id=${roomType.id})}">Editar</a>
                        <a th:href="@{/room_types/{id}/add_element(id=${roomType.id})}">Add Element</a>
                        <a th:href="@{/room_types/{id}/delete(id=${roomType.id})}" onclick="return confirm('¿Estás seguro de borrar este RoomType?')">Borrar</a>
                    </td>
                </tr>
            </th:block>
        </table>
        <div>
            <a th:href='@{room_types/new}' class="btn btn-primary">Añadir RoomType</a>
            <a th:href='@{/rooms}' class="btn btn-primary">Volver Atrás</a>
        </div>
        <br />
    </div>
</div>
</body>
</html>
