<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Reservas de habitación</title>
</head>

<body>

    <div th:replace="~{fragments/navBar}"></div>

    <div>
        <div class="container mt-5 container-fluid">

            <div class="container mb-4">
                <div class="row">
                    <div class="col col-auto">
                        <a th:href="@{/}" class="btn btn-secondary"> Volver Atrás</a>
                    </div>
                </div>
            </div>

            <div class="container mb-4 container-fluid">
                <div class="row">

                    <div class="col">
                        <!-- Fechas de mayor ocupación -->
                        <h3>Fechas de mayor ocupación</h3>
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Ocupación</th>
                                </tr>
                            </thead>


                            <th:block th:each="roomReserv: ${roomsReservationsMayOcupation}">
                                <tr>
                                    <td th:text="${roomReserv.getFecha()}"></td>
                                    <td th:text="${roomReserv.getOcupacion()}"></td>

                                </tr>

                            </th:block>

                        </table>
                    </div>

                    <!-- Aqui empiezan las tablas para mostrar la informacion del req 6 -->

                    <div class="col">
                        <!-- Fechas de menor ocupacion -->
                        <h3>Fechas de menor ocupación</h3>
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Ocupación</th>
                                </tr>
                            </thead>


                            <th:block th:each="roomReserv: ${roomsReservationsMenOcupation}">
                                <tr>
                                    <td th:text="${roomReserv.getFecha()}"></td>
                                    <td th:text="${roomReserv.getOcupacion()}"></td>

                                </tr>

                            </th:block>

                        </table>
                    </div>

                    <div class="col">
                        <!-- Fechas de mayor ingresos -->
                        <h3>Fechas de mayores ingresos</h3>
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Consumos realizados</th>
                                </tr>
                            </thead>


                            <th:block th:each="roomReserv: ${roomsReservationsMayIngresos}">
                                <tr>
                                    <td th:text="${roomReserv.getFecha()}"></td>
                                    <td th:text="${'$ '+ roomReserv.getIngresos()}"></td>

                                </tr>

                            </th:block>

                        </table>
                    </div>

                </div>
            </div>


            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>

        </div>

    </div>
</body>

</html>