<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Servicios</title>
</head>

<body>

    <!-- <div th:replace="~{fragments/navBar}"></div> -->

    <div>

        <div class="container mt-5">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <div th:fragment="serviceForm" class="container border border-2 pb-3">

                            <form>
                                <label class="col-form-label">Nombre:</label>
                                <input class="form-control" type="text" id="name" name="name" required
                                    th:value="${service.name}">

                                <label class="col-form-label">Horario:</label>
                                <input class="form-control" type="text" id="schedule" name="schedule" required
                                    th:value="${service.schedule}">

                                <label class="col-form-label">Capacidad:</label>
                                <input class="form-control" type="text" id="capacity" name="capacity" required
                                    th:value="${service.capacity}">

                                <label class="col-form-label">Tipo:</label>
                                <input class="form-control" type="text" id="type" name="type" required
                                    th:value="${service.type}">

                                <div class="text-center mt-3">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>

                            </form>


                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
</body>

</html>