<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Reservas de habitación</title>
</head>

<body>

    <div>
        <div class="container-fluid mt-5">

            <h2>Información de las reservas de habitaciones</h2>

            <div class="container-fluid my-4">
                <div class="row">
                    <div class="col col-auto">
                        <a th:href="@{/}" class="btn btn-secondary"> Volver Atrás</a>
                        <a th:href="@{/roomsReservations/new}" class="btn btn-primary">Crear nueva reserva</a>

                    </div>
                    <div class="col-auto">
                        <a th:href="@{/roomsOcupation}" class="btn btn-primary mb-4">Indice de Ocupación</a>
                    </div>
                    <div class="col-auto">
                        <a th:href="@{/roomsDineroRecolectado}" class="btn btn-primary mb-4">Dinero Recolectado</a>
                    </div>
                    <div class="col-auto">
                        <a th:href="@{/consumoCliente}" class="btn btn-primary mb-4">Consumo Cliente</a>
                    </div>
                    
                </div>
            </div>


            <h1>Lista de reservas de habitaciones</h1>

            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Fecha de entrada</th>
                        <th>Fecha de salida</th>
                        <th>Cantidad de personas</th>
                        <th>CheckIn</th>
                        <th>CheckOut</th>
                        <th>Numero de habitacion</th>
                        <th>Nombre de usuario</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <!-- <th>Numero de habitación</th> -->
                    </tr>
                </thead>


                <th:block th:each="roomReserv: ${roomsReservations}">
                    <tr>
                        <td th:text="${roomReserv.getId()}"></td>
                        <td th:text="${roomReserv.getEntryDate()}"></td>
                        <td th:text="${roomReserv.getDepartureDate()}"></td>
                        <td th:text="${roomReserv.getNumPeople()}"></td>
                        <td th:text="${roomReserv.getCheckIn()}"></td>
                        <td th:text="${roomReserv.getCheckOut()}"></td>
                        <td th:text="${roomReserv.getRoom().getNumRoom()}"></td>
                        <td th:text="${roomReserv.getUser().getName()}"></td>
                        <!-- <td th:text="${roomReserv.getRooms_numRoom().getNumRoom()}"></td> -->
                        <td><a th:href="@{/roomsReservations/{id}/delete(id=${roomReserv.getId()})}"
                            class="btn btn-danger">Eliminar</a></td>
                        <td><a th:href="@{/roomsReservations/{id}/edit(id=${roomReserv.getId()})}"
                            class="btn btn-warning">Editar</a></td>
                        <td><a th:href="@{/roomsReservations/{id}/edit/addConsumption(id=${roomReserv.getId()})}"
                            class="btn btn-primary">Agregar consumos</a></td>

                    </tr>

                </th:block>

            </table>
            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>

        </div>

    </div>
</body>

</html>