<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Dinero Recolectado Por Habitacion</title>
</head>
<body>

    <div>
        <div class="container mt-5 container-fluid">


            <div class="container mb-4 container-fluid">
                <div class="row">

                    <div class="col">
                        <h3>Dinero recolectado por habitación en el ultimo año</h3>
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Habitación</th>
                                    <th>Dinero Recolectado</th>
                                </tr>
                            </thead>


                            <th:block th:each="roomD: ${roomsDineroRecolectado}">
                                <tr>
                                    <td th:text="${roomD.get_Id()}"></td>
                                    <td th:text="${'$ '+ roomD.getTotalCost()}"></td>
                                </tr>

                            </th:block>

                        </table>
                    </div>


                </div>
            </div>


            <a th:href="@{/roomsReservations}" class="btn btn-primary"> Volver Atrás</a>

        </div>

    </div>
    
</body>
</html>