<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Servicios</title>
</head>

<body>

    <!-- <div th:replace="~{fragments/navBar}"></div> -->

    <div>

        <div class="container mt-5">

            <h2>Informacion de servicios</h2>

            <div class="container my-4">
                <div class="row">
                    <div class="col col-auto">
                        <a th:href="@{/}" class="btn btn-secondary">Volver atras</a>
                    </div>
                    <div class="col col-auto">
                        <a th:href="@{/services/new}" class="btn btn-primary">Crear un nuevo servicio</a>
                    </div>
                    
                </div>
            </div>


            <table class="table table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Horario</th>
                        <th>Capacidad</th>
                        <th>Tipo</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>


                <th:block th:each="service: ${services}">
                    <tr>
                        <td th:text="${service.getId()}"></td>
                        <td th:text="${service.getName()}"></td>
                        <td th:text="${service.getSchedule()}"></td>
                        <td th:text="${service.getCapacity()}"></td>
                        <td th:text="${service.getType()}"></td>
                        <td><a th:href="@{/services/{id}/delete(id=${service.id})}"
                            class="btn btn-danger">Eliminar</a></td>
                        <td><a th:href="@{/services/{id}/edit(id=${service.id})}"
                            class="btn btn-warning">Editar</a></td>
                        <td><a th:href="@{/services/{id}/edit/addProd(id=${service.id})}"
                            class="btn btn-primary">Agregar productos</a></td>

                    </tr>

                </th:block>

            </table>


        </div>

    </div>
</body>

</html>
