<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>ServiciosPopulares</title>
</head>
<body>
    <div th:replace="~{fragments/navBar}"></div>

    <div>
        <div class="container mt-5 container-fluid">


            <div class="container mb-4 container-fluid">
                <div class="row">

                    <div class="col">
                        <h3>Servicios Populares</h3>
                        <div class="container w-25">
                            <div class="card border border-2 mx-auto">
                      
                              <div>
                                <form th:action="@{servicesPopulares}" method="get">
                      
                                    <label class="col-form-label" for="fechaInicio">Fecha Inicio (DD/MM/YY):</label>
                                    <input class="form-control" type="text" id="fechaInicio" name="fechaInicio" required placeholder="DD/MM/YY"><br>

                                    <label class="col-form-label" for="fechaFinal">Fecha Final (DD/MM/YY):</label>
                                    <input class="form-control" type="text" id="fechaFinal" name="fechaFinal" required placeholder="DD/MM/YY"><br>

                      
                      
                                  <br />
                      
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-secondary">Buscar Servicios Populares</button>
                                  </div>
                      
                                  <br />
                                </form>
                              </div>
                            </div>
                          </div>
                      
                          <br />
                      
                      
                          <br />
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Servicio</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>


                            <th:block th:each="serviceD: ${servicesPopulares}">
                                <tr>
                                    <td th:text="${serviceD.getName()}"></td>
                                    <td th:text="${serviceD.getCantidad()}"></td>
                                </tr>

                            </th:block>

                        </table>
                    </div>


                </div>
            </div>


            <a th:href="@{/}" class="btn btn-primary"> Volver Atrás</a>

        </div>

    </div>
    
</body>
</html>