<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    

    <title>Servicios sin mucha demanda</title>
</head>
<body>

    <div th:replace="~{fragments/navBar}"></div>

    <div>
        <div class="container mt-5">

            <div class="container mb-4">
                <div class="row">
                    <div class="col col-auto">
                        <a th:href="@{/services}" class="btn btn-secondary"> Volver Atrás</a>
                    </div>
                </div>
            </div>

        <h1>Lista de servicios sin mucha demanda</h1>


        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre del servicio</th>
                    <th>Semana en que se usó</th>
                    <th>Cantidad de solicitudes</th>
                </tr>
            </thead>


            <th:block th:each="serviceDeficiente: ${serviciosDeficientes}">
                <tr>
                    <td th:text="${serviceDeficiente.getName()}"></td>
                    <td th:text="${serviceDeficiente.getSemana()}"></td>
                    <td th:text="${serviceDeficiente.getCantidad_solicitudes()}"></td>


                </tr>
                
            </th:block>

        </table>
        <a th:href="@{/userTypes}" class="btn btn-primary"> Volver Atrás</a>

    </div>
        
    </div>
</body>
</html>