<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Consumos</title>
</head>

<body>

    <!-- <div th:replace="~{fragments/navBar}"></div> -->

    <div>

        <div class="container mt-5">

            <h2>Crear consumo</h2>

            <div class="container">
                <div class="row">
                    <div class="col">

                        <div th:fragment="consumptionForm" class="container border border-2 pb-3">

                            <form>
                                <label class="col-form-label">Costo:</label>
                                <input class="form-control" type="text" id="cost" name="cost" required
                                    th:value="${consumption.cost}">

                                <label class="col-form-label">Fecha:</label>
                                <input class="form-control" type="text" id="date" name="date" required
                                    th:value="${consumption.date}">

                                <div class="text-center mt-3">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>

                            </form>


                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
</body>

</html>