<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">


    <title>Room reservations</title>
</head>

<body>

    <div>

        <div class="container mt-5">

            <div class="container">
                <div class="row">
                    <div class="col">

                        <div th:fragment="roomReservForm" class="container border border-2 pb-3">

                            <form>
                                <label class="col-form-label">Fecha de entrada:</label>
                                <input class="form-control" type="date" id="entryDate" name="entryDate"
                                    placeholder="dd/mm/yyyy" required th:value="${roomReservation.entryDate}">

                                <label class="col-form-label">Fecha de salida:</label>
                                <input class="form-control" type="date" id="departureDate" name="departureDate"
                                    placeholder="dd/mm/yyyy" required th:value="${roomReservation.departureDate}">

                                <label class="col-form-label">Cantidad de personas:</label>
                                <input class="form-control" type="text" id="numPeople" name="numPeople" required placeholder="Ingrese la cantidad de personas"
                                    th:value="${roomReservation.numPeople}">

                                <div class="container">
                                    <div class="row">

                                        <label class="col-form-label">Check in:</label>
                                        <input class="form-control" type="text" id="checkIn" name="checkIn" placeholder="Ingrese 'true' si se hizo checkIn y 'false' si no se hizo checkIn"
                                            th:value="${roomReservation.checkIn}">

                                    </div>

                                    <div class="row">

                                        <label class="col-form-label">Check out:</label>
                                        <input class="form-control" type="text" id="checkOut" name="checkOut" placeholder="Ingrese 'true' si se hizo checkOut y 'false' si no se hizo checkOut"
                                            th:value="${roomReservation.checkOut}">

                                    </div>

                                </div>

                                <label class="col-form-label">Habitacion:</label>
                                <input th:if="${estaEditando == true}" class="form-control" type="text" id="room"
                                    name="room" required th:value="${roomReservation.room.id}">

                                <input th:if="${estaEditando == false}" class="form-control" type="text" id="room"
                                    name="room" required placeholder="Ingrese el id de la habitacion"
                                    th:value="${roomReservation.room}">

                                <label class="col-form-label">Usuario:</label>

                                <input th:if="${estaEditando == true}" class="form-control" type="text" id="user"
                                    name="user" required th:value="${roomReservation.user.id}">

                                <input th:if="${estaEditando == false}" class="form-control" type="text" id="user"
                                    name="user" required placeholder="Ingrese el id del usuario"
                                    th:value="${roomReservation.user}">




                                <div class="text-center mt-3">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>

                            </form>


                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>
</body>

</html>