<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <title>Productos Filtro</title>
</head>
<body>
    <div th:replace="~{fragments/navBar}"></div>

    <div class="container mt-5 container-fluid">
        <h3>Productos Filtro</h3>
        <div class="container w-25">
            <div class="card border border-2 mx-auto">
                <div class="card-body">
                    <form th:action="@{/productosFiltro}" method="get">
                        <label class="col-form-label" for="minCost">Costo Mínimo:</label>
                        <input class="form-control" type="text" id="minCost" name="minCost" placeholder="$1000"><br>

                        <label class="col-form-label" for="maxCost">Costo Máximo:</label>
                        <input class="form-control" type="text" id="maxCost" name="maxCost" placeholder="$1000000"><br>

                        <label class="col-form-label" for="fechaInicio">Fecha Inicio (DD/MM/YY):</label>
                        <input class="form-control" type="text" id="fechaInicio" name="fechaInicio" placeholder="DD/MM/YY"><br>

                        <label class="col-form-label" for="fechaFinal">Fecha Final (DD/MM/YY):</label>
                        <input class="form-control" type="text" id="fechaFinal" name="fechaFinal" placeholder="DD/MM/YY"><br>

                        <label class="col-form-label" for="tipo">Tipo:</label>
                        <input class="form-control" type="text" id="tipo" name="tipo" placeholder="Supermercado"><br>

                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary">Filtrar Productos</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Costo</th>
                    <th>Tipo</th>
                    <th>Nombre Servicio</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="productoF: ${productosFiltro}">
                    <td th:text="${productoF.getCost()}"></td>
                    <td th:text="${productoF.getType()}"></td>
                    <td th:text="${productoF.getName()}"></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}" class="btn btn-primary">Volver Atrás</a>
    </div>
</body>
</html>